*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.meta
*.suo
*.swp
*.user
*.log
_ReSharper*
*.userprefs
*.exe
*.dll

.vs
bin/
obj/
packages/
CodeContractsRemover/build-nuget-package.bat
/CodeContractsRemover/Properties/launchSettings.json
